<%- include("partials/header"); -%>

<span class="home-btn">
  <a href="/homeloggedin/<%=userid%>">
    <span class="glyphicon glyphicon-home"></span>Home
  </a>
</span>

<span class="logout-btn">
  <a class="btn btn-lg" href="/logout" role="button">Log Out</a>
</span>

<div class="container above-margin">
  <h1>Compose</h1>
  <form action="/compose" id="post_blog" method="POST">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="postTitle" required>
    </div>
    <div class="form-group">
      <label>Image</label>
      <input type="url" class="form-control" name="postImage"
       pattern="https://.*" placeholder="https://...">
    </div>
    <div class="form-group">
      <label>Post</label>
      <textarea name="postBody" cols="30" rows="5" class="form-control" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary" name="button">Publish</button>
  </form>
</div>

<script>
  let userId=window.location.href.split('/')[4];
  
  
  document.getElementById("post_blog").action="/compose/"+userId;
</script>

<%- include("partials/footer"); -%>